body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* ************************************************************************* */
/* Modified by IBH */

.container {width: 1048px !important;}

#layout {
    min-height: 800px;
    position: relative;
}

.drag {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    background-color: #F5F5F5;
    color: #9DA0A4;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    cursor: move;
}

.ibh-draggable {
    position: relative;
}

.component .drag {
    display: none;
}

/* ************************************************************************* */
body {
    margin-top: 80px !important;
}
/* #tools */
#tools {
    position: fixed;
    width: 1048px;
    top: 0px;
    left: 50%;
    margin: 0px;
    margin-left: -524px !important;
    min-height: 70px;
    min-width: 150px;
    padding: 15px 15px;
    /*border: 1px solid #DDDDDD;*/
    /*border-radius: 0px 0px 4px 4px;*/
    background: linear-gradient(#234F73, #3b83c0) !important;
    z-index: 100;
}

#tools .data {
    display: none;
}

#tools .config {
    display: none;
}

#tools .component {
    width: auto !important;
    float: left;
    margin-left: 5px !important;
}

/* ************************************************************************* */
/* .layout */

.layout .drag {
    display: block;
}

.layout .caption {
    display: none;
}

.layout .component {
    border: 1px solid #DDDDDD;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 30px !important;
    /*overflow: hidden;*/
    background: #FFF;
    z-index: 50;
    min-width: 200px;
    width: auto !important;
    height: auto !important;
}

.layout .component:hover > .config {
    opacity: 1;
}

.layout .config {
    position: absolute;
    top: 5px;
    right: 4px;
    direction: rtl;
    opacity: 0;
    transition: opacity 500ms;
}

.layout .config i {
    cursor: pointer;
    margin-right: 5px;
}

.image-thumbs {
    position: fixed !important;
    width: 250px !important;
    bottom: 20px !important;
    right: 20px !important;
    border-radius: 4px !important;
}

.gradeint-background {
    background: linear-gradient(to top, #234F73, #3b83c0) !important;
}

.ui-state-highlight {
    background: #FEE !important;
}
